*{
    margin : 0px;
    padding: 0px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
#header{
    height: 35px;
    width: 100%;
    background: #f6f6f6;
}
#margin-header{
    width: 1024px;
    height: 35px;
    margin: 0px auto;
}
#margin-header ul{
    padding: 0px;
    margin: 0px;
}
div #margin-header ul li {
    float: left;
    list-style: none;

}
div #margin-header ul li a{
    display: block;
    text-decoration: none;
    color: #000;
    line-height: 35px;
    padding:0px 10px 0px 25px;
}
div #margin-header ul li a.phone{
    background: url(../thegioituisach/images/phoneJPG.JPG) no-repeat 0px;
    background-size: 20px;
}
div #margin-header ul li a.hotline{
    background: url(../thegioituisach/images/hotline.JPG) no-repeat 0px;
    background-size: 17px;
}
div #margin-header ul li a.address{
    background: url(../thegioituisach/images/address.JPG) no-repeat 0px;
    background-size: 16px;
}
#top{
    width: 1024px;
    margin: 30px auto;
    margin-top: 10px;
}
#logo, #search,#register{
    float: left;
    width: 300px;
}
#search{
    width: 465px;
    margin-top: 12px;
}
#search form input[type="text"]{
    border: 2px solid #08c;
    height: 36px;
    width: 360px;
    text-indent: 10px;
}
#search form input[type="submit"]{
    height: 40px;
    border: none;
    width: 100px;
    margin-left: -5px;
    background: #08c url(../thegioituisach/images/search.JPG) no-repeat center;
    cursor: pointer;
}
#register{
    width: 250px;
}
#register ul{
    margin: 0px;
    padding: 0px;
}
#register ul li{
    list-style: none;
    float: left;
    width: 80px;
    height: 50px;
    position: relative;
}
#register ul li a{
    text-decoration: none;
    display: block;
    width: 28px;
    height: 35px;
    margin-left :10px ;
    color: #000;
}
#register ul li a.res{
    background: url(../thegioituisach/images/reg.JPG) no-repeat center;
    width: 60px;
    line-height: 94px;
    text-align: center;
    height: 50px;
}
#register ul li a.login{
    background: url(../thegioituisach/images/login.JPG) no-repeat center;
    width: 78px;
    line-height: 94px;
    text-align: center;
    height: 50px;
}
#register ul li a.cart{
    background: url(../thegioituisach/images/cart.jpg) no-repeat center;
    width: 78px;
    line-height: 90px;
    text-align: center;
    background-size: 50px;
    margin-top: 2px;
}
#register ul li span.total{
    background: red;
    color: #fff;
    border-radius: 50px;
    display: block;
    width: 30px;
    height: 20px;
    text-align: center;
    top:0px;
    right: 0px;
    position: absolute;
}
#banner{
    width: 1024px;
    clear: left;
    margin: 0px auto;
}
#banner #menu-left{
    width: 280px;
    float: left;
    background: #f6f6f6;
}
#banner #menu-left h3{
    font-size: 16px;
    height: 40px;
    background: #08c;
    text-align: center;
    color: #fff;
    line-height: 40px;
}
#banner div #menu-left ul{
    margin : 0px;
    padding: 0px;
}
#banner #menu-left ul li{
    list-style: none;
 }
#banner #menu-left ul li a{
    text-decoration: none;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #eaeaea ;
    padding-left:30px ;
}
#banner #menu-left ul li a.it1{
   background: url(./images/item1.JPG) no-repeat left;
   background-size: 32px;
}
#banner #menu-left ul li a.it2{
    background: url(./images/item2.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it3{
    background: url(./images/item3.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it4{
    background: url(./images/item4.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it5{
    background: url(./images/item5.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it6{
    background: url(./images/item6.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it7{
    background: url(./images/item7.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it8{
    background: url(./images/item8.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it9{
    background: url(./images/item9.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it10{
    background: url(./images/item10.JPG) no-repeat left;
    background-size: 25px;
 }
 #banner #menu-left ul li a.it11{
    background: url(./images/item11.JPG) no-repeat left;
    background: size 25px;;
 }
 .menu-top{
     width: 800px;
     height: 40px;
 }
 .menu-top ul{
     margin: 0px;
     padding: 0px;
 }
 .menu-top ul li{
    float: left;
    list-style: none;
}
.menu-top ul li a{

    padding: 0px 5px 0px 5px;
    text-decoration: none;
    color: #000;
    line-height: 40px;
    border-right:1px solid #000 ;
    font-size: 15px;
}
.slider img{
    width: 560px;
    height: 500px;
}
.slider{
    position: relative;
    float: left;
    width: 700px;
}
.slider ul{
    padding: 0px;
    margin: 0px;
}
.slider ul li{
    list-style: none;
    float: left;
}
.slider ul li img{
    position: absolute;
}
.prev,.next{
    display: block;
    position: absolute;
    background: rgb(240, 243, 245);
    top:236px;
    text-align: center;
    cursor: pointer;
    line-height: 45px;
}
.slider a{
    display: block;
    width: 50px;
    height: 45px;
    background-color:rgba(0,0,0,.18);
    z-index: 1000;
}
.next{
    right:140px;
}
#product-new{
    width: 185px;
    height: 500px;
    float: right;
}
#product-new h3{
    float: right;
    font-size: 16px;
    height: 40px;
    background: #08c;
    text-align: center;
    color: #fff;
    line-height: 40px;
    display: block;
    width: 185px;
}
#product-new ul{
    padding: 0px;
    margin: 0px;
}
#product-new ul li{
    list-style: none;
    text-align: center;
}
b{
    color: #08c;
}
#shipping{
    margin-top: 500px;
    height: 80px;
    background: #f6f6f6;
    width: 100%;
    padding-top: 20px;
}
#shipping-1{
    width: 25%;
    float: left;    
    margin-left: 100px;
    
}
#shipping-1 .ic1{
    float: left;
    padding-right: 10px;
    margin-left: 50px;
}
#shipping-2{
    width: 20%;
    float: left;
    border-left: 1px solid #000;
}
#shipping-2 .ic2{
    float: left;
    padding-right: 10px;
}
#shipping-3{
    width: 20%;
    float: left;
    border-left: 1px solid #000;
}
#shipping-3 .ic3{
    float: left;
    padding-right: 10px;
}
#shipping-4{
    width: 25%;
    float: left;
    border-left: 1px solid #000;
}
#shipping-4 .ic4{
    float: left;
    padding-right: 10px;
}



